.item-list-block {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 30px;
  padding: 0 15px 0 15px;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
