<div>
  <div class='board-header'>
    <h2>{{ boardDetail.name }}</h2>
    <p>{{ boardDetail.description }}</p>
  </div>
  <div class='container'>
    <div class='column' *ngFor='let column of boardDetail.columns; let index = index'>
      <app-board-column-item [column]='column'></app-board-column-item>
    </div>

    <button
      (click)='onNewColumn()'
      style='max-height: 45px'
      class='button btn-primary'
    >+ Add column
    </button>
    <router-outlet></router-outlet>
  </div>
</div>



