<div>
  <div class='board-header'>
    <h2>{{ boardDetail.name }}</h2>
    <p>{{ boardDetail.description }}</p>
  </div>
  <div class='container'>

    <div class='column' *ngFor='let column of boardDetail.columns; let index = index'>
      <div class='column-header'>
        <h3>{{ column.name }}</h3>
      </div>
      <app-task-list [tasks]='column.tasks' [name]='column.name'></app-task-list>
      <div>
        <button class='button btn-primary' [routerLink]="[column.name]" (click)='onAddTask()'>+ Add task</button>
      </div>
    </div>
    <button
      (click)='onNewColumn()'
      style='max-height: 45px'
      class='button btn-primary'
    >+ Add column
    </button>
    <router-outlet></router-outlet>
  </div>
</div>



