.board-header {
  background-color: #c8cbca;
  padding: 15px;
  margin: 15px 0 15px 0;
}

.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
}

.column {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #e7e7e7;
  padding: 5px;
  height: fit-content;
}

.task-list {

}

.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}

.add-button:hover {
  cursor: pointer;
  background-color: #c9c7c7;
}

.add-comment-button {
  text-align: center;
  margin: 10px;
}
