<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'">
    <form (ngSubmit)='onSubmit()' #form="ngForm">
      <div class='close' (click)='onClose()'>X</div>
      <div>
        <input
          type='text'
          id='name'
          name='name'
          placeholder='Enter board name'
          ngModel
          #name="ngModel"
        >
      </div>
      <div>
        <textarea
          id='description'
          name='description'
          rows='6'
          ngModel
          placeholder='Description'
          #description="ngModel"
        >
    </textarea>
      </div>
      <button class="button btn-primary" type='submit'>{{ modalService.boardIndex === null ? 'Create' : 'Update'}}</button>
    </form>
  </section>
</ng-container>




