<div class="home-wrapper">
  <div class="content-wrapper">
    <div class="text-wrapper">
      <p>
        Hi, every one! I am glad to present you my Angular Homework Project. I tried to use most of the knowledge shared
        during lectures. I know that I still have a
        lot to learn, but I tried and intend to use Angular as a framework in my future work. Thank you for attention
      </p>
    </div>
    <div class="image-wrapper">
      <img src="../../../assets/emoji-smile-designs-png-4.png" alt="smile">
    </div>
  </div>
</div>
