<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'openTask'">
    <form (ngSubmit)='onSubmit(taskForm)' #taskForm="ngForm">
      <div class='close' (click)='onClose()'>X</div>
      <div>
        <input
          type='text'
          id='name'
          name='name'
          placeholder='Enter task name'
          ngModel
          #name="ngModel"
        >
      </div>
      <div *ngIf='modalService.boardIndex !== null'>
        <textarea
          id='description'
          name='description'
          rows='6'
          ngModel
          placeholder='Task description'
          #description="ngModel"
        >
    </textarea>
      </div>
      <button class="button btn-primary" type='submit'>{{ modalService.boardIndex === null ? 'Create' : 'Update'}}</button>
    </form>
  </section>
</ng-container>

