<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'openTask'">
    <form [formGroup]='taskForm' (ngSubmit)='onSubmit()'>
      <div class='close' (click)='onClose()'>X</div>
      <div>
        <input
          type='text'
          id='name'
          formControlName='name'
          placeholder='Enter task name'
        >
      </div>
      <div *ngIf='modalService.boardIndex !== null'>
        <textarea
          id='description'
          formControlName='description'
          rows='6'
          placeholder='Task description'
        >
        </textarea>
        <div formArrayName='comments'>
          <h3>Your comments</h3>
          <div *ngFor="let hobbyControl of controls; let i = index" [formGroupName]='i'>
            <div class='comment-block'>
              <input
                type='text'
                formControlName='comment'
              >
              <button
                style='height: 22px; align-self: self-end; margin-left: 5px'
                class='btn btn-danger'
                type='button'
                (click)='onDeleteIngredient(i)'
              >X
              </button>
            </div>
          </div>
          <button
            type='button'
            class='button btn-success'
            (click)='onAddComment()'
          >Add comment
          </button>
          <button
            type='button'
            class='button btn-danger'
            (click)='onDeleteIngredients()'
          >Delete All
          </button>
        </div>
      </div>
      <button
        class="button btn-primary" type='submit'
      >{{ modalService.boardIndex === null ? 'Create' : 'Update'}}</button>
    </form>
  </section>
</ng-container>

