<div class='archive-title'>
  <h2>Archive tasks</h2>
</div>
<div class='archive-page'>
  <div class='archive-block-wrapper' *ngFor='let task of tasks; let index = index'>
    <header>
      <h2>{{ task.name }}</h2>
    </header>
    <main>
      <h3>Description:</h3>
      <p>{{ task.description }}</p>
      <h3>Status:</h3>
      <p>{{ task.status }}</p>
      <h3>Comments:</h3>
      <p *ngIf='task.comments.length === 0'>No comments</p>
      <ul *ngFor='let comment of task.comments; let i = index'>
        <li [ngClass]='{odd: i % 2 === 0}'>{{ comment.comment }}</li>
      </ul>
    </main>
    <footer>
      <button class='button btn-primary' (click)='onDetailShow(task._id)'>Go to detail</button>
    </footer>
  </div>
</div>


