<nav class="navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">
      <a href="#" class="navbar-brand">Task Manager</a>
    </div>

    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <div class="navbar-nav">
        <ul>
          <li routerLinkActive="active"><a (click)="collapsed = !collapsed" routerLink="/home">Home</a></li>
          <li routerLinkActive="active"><a *ngIf="isUserAuth" (click)="collapsed = !collapsed" routerLink="/dashboard">Dashboard</a></li>
          <li routerLinkActive="active"><a *ngIf="isUserAuth" (click)="collapsed = !collapsed" routerLink="/archive">Archive</a></li>
          <li routerLinkActive="active" *ngIf="!isUserAuth"><a style="cursor: pointer" routerLink="/auth">Authenticate</a></li>
        </ul>
      </div>

      <div class="navbar-nav navbar-right" *ngIf="isUserAuth">
        <ul>
          <li><a>{{ user | usernameTransform: "@"}}</a></li>
          <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="burger">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>

  </div>

</nav>
