/* You can add global styles to this file, and also import other style files */
html {
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  display: block;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}


.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428;
  border-radius: 4px;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  position: fixed;
  top: 35vh;
  left: 111vh;
  width: 60vh;
  padding: 16px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4
}

.btn-danger {
  color: #fff;
  background-color: #da3f23;
  border-color: #bb2520
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}


